# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
Package.resolved

# macOS
.DS_Store

# CocoaPods (if you ever add it)
Pods/

# Fastlane (if you ever add it)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Secrets
*.p12
*.mobileprovision
*.bak
*.bak2
*.bak3
fix_*.py
patch_*.py
patcher_*.py
ios_patches_*.py
ios_v2_*.py
